h1{
    color:fuchsia
}
/* tag selecter */
/* id selecter */
/* #head1{
    color:greenyellow
}
#head3{
    color:lightseagreen
} */
/* class selecter */
.head1{
    color:maroon
}
.head2{
    color:midnightblue
}