


@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Festive&display=swap');

h1{
    text-decoration:chartreuse ;
    text-align: center;
    color:rgb(143, 144, 204)

    
}
#a1{
    color:rgb(21,40,110)
}

.c1{
    color:cornflowerblue;
    font-size: 50;
    font-family: 'Festive', cursive;


}
p{
    font-size: 50px;
    font-family: 'Ephesis', cursive;
    
}